doctype 5
html( ng-app="littledragon" )
    head
        title= title
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.1.1/angular.min.js')
        script(src="/javascripts/ui-bootstrap-tpls-0.5.0.min.js")
        script(src="/javascripts/controllers.js")
        script(src="/javascripts/app.js")
        script(src="/javascripts/directives.js")
    body
        div(class="navbar navbar-inverse navbar-fixed-top")
            div(class="navbar-inner")
                div(class="container")
                    div(class="nav-collapse collapse", ng-controller="NavCtrl")
                        ul(class="nav", ng-show="user.loggedIn")
                            li(class="admin")
                                a(href="/#/facilities") Facilities
                            li(class="admin")
                                a(href="/#/users") Users
                            li(class="admin")
                                a(href="/#/parents") Parents
                            li(class="admin")
                                a(href="/#/children") Children

        div( class="container", style="padding-top:50px")
            div( data-ng-bind="flash.info()", data-ng-show="flash.info()", class="alert alert-info")
            div( data-ng-bind="flash.okay()", data-ng-show="flash.okay()", class="alert alert-success")
            div( data-ng-bind="flash.warn()", data-ng-show="flash.warn()", class="alert alert-block")
            div( data-ng-bind="flash.err()", data-ng-show="flash.err()", class="alert alert-error")

            div( ng-view )


