doctype 5
html( ng-app )
    head
        title= title
        script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        block head
    body
        block body
