.pull-right
    a(href="/#/user") Create User

table.table.table-striped.table-bordered
    tr
        th Username
        th Email
        th Name
        th Facility
        th Admin
        th Facility Admin
        th(colspan="2")
    tr( ng-repeat="user in users")
        td {{user.username}}
        td {{user.email}}
        td {{user.firstName}} {{user.lastName}}
        td {{user.facility.name}}
        td {{user.admin}}
        td {{user.facilityAdmin}}
        td(style="padding-right: 10px")
            a(href="/#/edit/user/{{user.id}}") edit
        td
            a(href="", ng-click="delete(user.id)") delete





